// Hello!
@font-face
  font-family: 'bebas'
  font-style: normal;
  src: url(../assets/fonts/bebas.ttf);

$font-color = #000;

body
  color: $font-color;
  margin: 0;

h1, h2, h3, h4, h5, h6
  font-family: 'bebas', sans-serif;